In [123]:
import pandas as pd
import json
import re
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [124]:
run_name = "baseline"
run_name = "baseline_lh"
run_name = "baseline_lh_2"
run_name = "baseline_lh_3"

run_name = "baseline_lh_1"
run_name = "baseline_lh_0"

# load JSONL
records = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_all.tsv") as f:
    for line in f:
        records.append(json.loads(line))


        # load JSONL
records_test = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_test.tsv") as f:
    for line in f:
        records_test.append(json.loads(line))

In [125]:
df_all = pd.DataFrame(records)
df_test = pd.DataFrame(records_test)
df_test.head()

,left,right,match,match_confidence
0,COL make VAL CESSNA COL model VAL 195 COL seri...,COL make VAL DC COL model VAL A24 COL series V...,0,0.999986
1,COL make VAL AERO COMMANDER COL model VAL 695 ...,COL make VAL SR COL model VAL 5 COL series VAL...,0,0.999990
2,COL make VAL BELL COL model VAL TH1 COL series...,COL make VAL REIMS COL model VAL FA150 COL ser...,0,0.999989
3,COL make VAL BOEING COL model VAL 767 COL seri...,COL make VAL B COL model VAL 767 COL series VA...,1,0.999867
4,COL make VAL CESSNA COL model VAL FRA150 COL s...,COL make VAL P COL model VAL 38 COL series VAL...,0,0.999987

In [126]:
gold_test = pd.read_csv("../data/aircraft_er/" + run_name + "/test.txt", sep="\t", header=None, names=["left", "right", "gold"])

gold_all = pd.read_csv("../data/aircraft_er/" + run_name + "/all_pairs.txt", sep="\t", header=None, names=["left", "right", "gold"])
print(gold_all.head())

                                                left  \
0  COL make VAL SIKORSKY COL model VAL S55 COL se...
1  COL make VAL WACO COL model VAL UBA COL series...
2  COL make VAL TAYLORCRAFT COL model VAL DCO COL...
3  COL make VAL AIRBUS COL model VAL A321 COL ser...
4  COL make VAL HAWKER COL model VAL 4000 COL ser...

                                               right  gold
0  COL make VAL CE COL model VAL 310 COL series V...     0
1  COL make VAL BV COL model VAL 234 COL series V...     0
2  COL make VAL TCRAFT COL model VAL D COL series...     0
3  COL make VAL BAE COL model VAL 125 COL series ...     0
4  COL make VAL CE COL model VAL 177 COL series V...     0

In [127]:
df_all["gold"] = gold_all["gold"]
df_test["gold"] = gold_test["gold"]

In [128]:
#Test Data

y_true_test = df_test["gold"]
y_pred_test = df_test["match"]

print("Accuracy:", accuracy_score(y_true_test, y_pred_test))
print("\nClassification report:\n", classification_report(y_true_test, y_pred_test))
print("\nConfusion matrix:\n", confusion_matrix(y_true_test, y_pred_test))



with open("../aircraft_er_predictions/" + run_name + "_metrics_test.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true_test, y_pred_test), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true_test, y_pred_test), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true_test, y_pred_test), file=f)

Accuracy: 0.9918256130790191

Classification report:
               precision    recall  f1-score   support

           0       0.99      1.00      1.00      1544
           1       0.99      0.96      0.97       291

    accuracy                           0.99      1835
   macro avg       0.99      0.98      0.98      1835
weighted avg       0.99      0.99      0.99      1835


Confusion matrix:
 [[1540    4]
 [  11  280]]

In [129]:
#All Data

y_true = df_all["gold"]
y_pred = df_all["match"]

print("Accuracy:", accuracy_score(y_true, y_pred))
print("\nClassification report:\n", classification_report(y_true, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_true, y_pred))



with open("../aircraft_er_predictions/" + run_name + "_metrics_all.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true, y_pred), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true, y_pred), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true, y_pred), file=f)

Accuracy: 0.9971117166212534

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     15441
           1       1.00      0.99      0.99      2909

    accuracy                           1.00     18350
   macro avg       1.00      0.99      0.99     18350
weighted avg       1.00      1.00      1.00     18350


Confusion matrix:
 [[15428    13]
 [   40  2869]]

In [130]:
errors = df_test[df_test["gold"] != df_test["match"]]
print(errors[["left","right","gold","match","match_confidence"]].head(20))

                                                   left  \
13    COL make VAL LOCKHEED COL model VAL R2O COL se...
282   COL make VAL AIR TRACTOR COL model VAL AT402 C...
329   COL make VAL DASSAULT COL model VAL MYSTERE FA...
462   COL make VAL AEROCAR COL model VAL I COL serie...
491   COL make VAL AIRBUS COL model VAL A318 COL ser...
503   COL make VAL CESSNA COL model VAL 560 COL seri...
561   COL make VAL BEAGLE COL model VAL B121 COL ser...
827   COL make VAL GULFSTREAM COL model VAL GULFSTRE...
863   COL make VAL TAYLORCRAFT COL model VAL BC12 CO...
920   COL make VAL BELL COL model VAL 47D COL series...
973   COL make VAL TAYLORCRAFT COL model VAL DCO COL...
1072  COL make VAL PIPER COL model VAL PA18S COL ser...
1409  COL make VAL VERTOL COL model VAL CH47 COL ser...
1466  COL make VAL CESSNA COL model VAL LC41 COL ser...
1806  COL make VAL DORNIER COL model VAL DO28A COL s...

                                                  right  gold  match  \
13    COL make VAL LKHEED COL model VAL 10 COL serie...     1      0
282   COL make VAL AT COL model VAL 402 COL series V...     1      0
329   COL make VAL T COL model VAL 50 COL series VAL...     0      1
462   COL make VAL AROCAR COL model VAL 1 COL series...     1      0
491   COL make VAL A COL model VAL 318 COL series VA...     1      0
503   COL make VAL CE COL model VAL 560 COL series V...     1      0
561   COL make VAL BEAGLE COL model VAL 206 COL seri...     0      1
827   COL make VAL GA COL model VAL 100 COL series V...     1      0
863   COL make VAL TCRAFT COL model VAL BC COL serie...     1      0
920   COL make VAL BHT COL model VAL 47 COL series V...     0      1
973   COL make VAL TCRAFT COL model VAL D COL series...     1      0
1072  COL make VAL PA COL model VAL 18 COL series VA...     1      0
1409  COL make VAL CH COL model VAL 47D COL series V...     0      1
1466  COL make VAL LC COL model VAL LC41 COL series ...     1      0
1806  COL make VAL DO COL model VAL 28 COL series VA...     1      0

      match_confidence
13            0.983142
282           0.981314
329           0.806878
462           0.966364
491           0.907662
503           0.629572
561           0.999782
827           0.999966
863           0.814514
920           0.986872
973           0.999967
1072          0.999550
1409          0.999895
1466          0.362599
1806          0.948958

In [131]:
errors

,left,right,match,match_confidence,gold
13,COL make VAL LOCKHEED COL model VAL R2O COL se...,COL make VAL LKHEED COL model VAL 10 COL serie...,0,0.983142,1
282,COL make VAL AIR TRACTOR COL model VAL AT402 C...,COL make VAL AT COL model VAL 402 COL series V...,0,0.981314,1
329,COL make VAL DASSAULT COL model VAL MYSTERE FA...,COL make VAL T COL model VAL 50 COL series VAL...,1,0.806878,0
462,COL make VAL AEROCAR COL model VAL I COL serie...,COL make VAL AROCAR COL model VAL 1 COL series...,0,0.966364,1
491,COL make VAL AIRBUS COL model VAL A318 COL ser...,COL make VAL A COL model VAL 318 COL series VA...,0,0.907662,1
503,COL make VAL CESSNA COL model VAL 560 COL seri...,COL make VAL CE COL model VAL 560 COL series V...,0,0.629572,1
561,COL make VAL BEAGLE COL model VAL B121 COL ser...,COL make VAL BEAGLE COL model VAL 206 COL seri...,1,0.999782,0
827,COL make VAL GULFSTREAM COL model VAL GULFSTRE...,COL make VAL GA COL model VAL 100 COL series V...,0,0.999966,1
863,COL make VAL TAYLORCRAFT COL model VAL BC12 CO...,COL make VAL TCRAFT COL model VAL BC COL serie...,0,0.814514,1
920,COL make VAL BELL COL model VAL 47D COL series...,COL make VAL BHT COL model VAL 47 COL series V...,1,0.986872,0
973,COL make VAL TAYLORCRAFT COL model VAL DCO COL...,COL make VAL TCRAFT COL model VAL D COL series...,0,0.999967,1
1072,COL make VAL PIPER COL model VAL PA18S COL ser...,COL make VAL PA COL model VAL 18 COL series VA...,0,0.999550,1
1409,COL make VAL VERTOL COL model VAL CH47 COL ser...,COL make VAL CH COL model VAL 47D COL series V...,1,0.999895,0
1466,COL make VAL CESSNA COL model VAL LC41 COL ser...,COL make VAL LC COL model VAL LC41 COL series ...,0,0.362599,1
1806,COL make VAL DORNIER COL model VAL DO28A COL s...,COL make VAL DO COL model VAL 28 COL series VA...,0,0.948958,1

In [132]:
errors.to_csv("../aircraft_er_predictions/" + run_name + "_errors_review.csv", index=False)

In [133]:
def parse_record(record: str):
    """Parse Ditto serialized record into a dict of {field: value}."""
    parts = re.split(r"COL |VAL ", record.strip())
    parts = [p for p in parts if p]  # drop empties
    return {parts[i].strip(): parts[i+1].strip() for i in range(0, len(parts), 2)}

parsed = []

for _, row in errors.iterrows():
    left = parse_record(row["left"])
    right = parse_record(row["right"])
    parsed.append({
        "cictt_make": left.get("make"),
        "make": right.get("make"),
        "cictt_model": left.get("model"),
        "model": right.get("model"),
        "cictt_series": left.get("series"),
        "series": right.get("series"),
        "cictt_cert": left.get("cert"),
        "cert": right.get("cert"),
        "cictt_name": left.get("name"),
        "name": right.get("name"),
        "predicted": row["match"],
        "confidence": row["match_confidence"],
        "gold": row["gold"]
    })

aligned = pd.DataFrame(parsed)

In [134]:
aligned.to_csv("../aircraft_er_predictions/" + run_name + "_aligned_errors_review.csv", index=False)