In [1]:
import pandas as pd
import json
import re

In [2]:
run_name = "make_model_doc8643"

# load JSONL
records = []
with open("../aircraft_er_predictions/" + run_name + "_predictions.tsv") as f:
    for line in f:
        records.append(json.loads(line))

FileNotFoundError: [Errno 2] No such file or directory: '../aircraft_er_predictions/make_model_doc8643_predictions.tsv'

In [ ]:
df = pd.DataFrame(records)
df.head()

,left,right,match,match_confidence
0,COL make VAL BEECH COL model VAL 99 COL series...,COL model VAL B25 COL series VAL TB25 COL cert...,0,0.999854
1,COL make VAL DOUGLAS COL model VAL B23 COL ser...,COL make VAL DC COL model VAL B23 COL series V...,1,0.999025
2,COL make VAL WACO COL model VAL ARE COL series...,COL make VAL EC COL model VAL 130T2 COL series...,0,0.999840
3,COL make VAL BRITTEN NORMAN COL model VAL BN2A...,COL make VAL PA COL model VAL 34 COL series VA...,0,0.999806
4,COL make VAL BEECH COL model VAL JU21 COL seri...,COL make VAL WACO COL model VAL CSO COL series...,0,0.999673

In [ ]:


gold = pd.read_csv("../data/er_magellan/Structured/" + run_name + "/all_pairs.txt", sep="\t", header=None, names=["left", "right", "gold"])
print(gold.head())

                                                left  \
0  COL make VAL BEECH COL model VAL 99 COL series...
1  COL make VAL DOUGLAS COL model VAL B23 COL ser...
2  COL make VAL WACO COL model VAL ARE COL series...
3  COL make VAL BRITTEN NORMAN COL model VAL BN2A...
4  COL make VAL BEECH COL model VAL JU21 COL seri...

                                               right  gold
0  COL model VAL B25 COL series VAL TB25 COL cert...     0
1  COL make VAL DC COL model VAL B23 COL series V...     1
2  COL make VAL EC COL model VAL 130T2 COL series...     0
3  COL make VAL PA COL model VAL 34 COL series VA...     0
4  COL make VAL WACO COL model VAL CSO COL series...     0

In [ ]:
df["gold"] = gold["gold"]

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

y_true = df["gold"]
y_pred = df["match"]

print("Accuracy:", accuracy_score(y_true, y_pred))
print("\nClassification report:\n", classification_report(y_true, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_true, y_pred))

Accuracy: 0.9982244580898129

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     12280
           1       0.99      0.99      0.99      1237

    accuracy                           1.00     13517
   macro avg       0.99      1.00      0.99     13517
weighted avg       1.00      1.00      1.00     13517


Confusion matrix:
 [[12266    14]
 [   10  1227]]

In [ ]:
errors = df[df["gold"] != df["match"]]
print(errors[["left","right","gold","match","match_confidence"]].head(20))

                                                    left  \
189    COL make VAL PIPER COL model VAL PA31P COL ser...
1436   COL make VAL GRUMMAN COL model VAL OV1 COL ser...
2651   COL make VAL SIKORSKY COL model VAL SH3 COL se...
8412   COL make VAL BELL COL model VAL UH1 COL series...
8527   COL make VAL BELLANCA COL model VAL 31 42 COL ...
10284  COL make VAL GULFSTREAM COL model VAL GULFSTRE...
10858  COL make VAL AIR TRACTOR COL model VAL AT502 C...
10971  COL make VAL PIPER COL model VAL PA28RT COL se...
10991  COL make VAL BELLANCA COL model VAL CH300 COL ...
11323  COL make VAL ENSTROM COL model VAL 480 COL ser...
11519  COL make VAL AEROSPATIALE COL model VAL SA330 ...
11546  COL make VAL ARROW COL model VAL SPORT COL ser...
11659  COL make VAL LEARJET COL model VAL 60 COL seri...
11707  COL make VAL BELL COL model VAL UH1 COL series...
11719  COL make VAL VERTOL COL model VAL CH21 COL ser...
11787  COL make VAL ROCKWELL COL model VAL 100 COL se...
12098  COL make VAL BELL COL model VAL TH1 COL series...
12543  COL make VAL DOUGLAS COL model VAL C53 COL ser...
12683  COL make VAL AERO COMMANDER COL model VAL 690 ...
12774  COL make VAL CHAMPION COL model VAL 7GC COL se...

                                                   right  gold  match  \
189    COL make VAL PA COL model VAL 31T COL series V...     0      1
1436   COL make VAL OW COL model VAL 5M COL series VA...     1      0
2651   COL make VAL SK COL model VAL 61 COL series VA...     1      0
8412   COL make VAL INTHEL COL model VAL UH1B COL ser...     1      0
8527   COL make VAL BL COL model VAL 17 COL series VA...     0      1
10284  COL make VAL GA COL model VAL 150 COL series V...     1      0
10858  COL make VAL AT COL model VAL 504 COL series V...     0      1
10971  COL make VAL PA COL model VAL 28 COL series VA...     0      1
10991  COL make VAL EAA COL model VAL 90 COL series V...     0      1
11323  COL make VAL CAMAIR COL model VAL 480 COL seri...     0      1
11519  COL make VAL SA COL model VAL 316 COL series V...     0      1
11546  COL make VAL ARACFT COL model VAL SPORT COL se...     1      0
11659  COL make VAL LR COL model VAL 24 COL series VA...     0      1
11707  COL make VAL HAWKIN COL model VAL UH1B COL ser...     1      0
11719  COL make VAL SK COL model VAL CH COL series VA...     0      1
11787  COL make VAL GA COL model VAL 112 COL series V...     1      0
12098  COL make VAL WIA COL model VAL TH COL series V...     0      1
12543  COL make VAL DC COL model VAL 3 COL series VAL...     1      0
12683  COL make VAL CE COL model VAL 680 COL series V...     0      1
12774  COL make VAL AR COL model VAL 7 COL series VAL...     0      1

       match_confidence
189            0.061561
1436           0.994566
2651           0.998856
8412           0.997717
8527           0.057078
10284          0.989205
10858          0.997843
10971          0.995418
10991          0.194966
11323          0.880147
11519          0.069976
11546          0.996670
11659          0.986204
11707          0.997329
11719          0.172569
11787          0.999861
12098          0.399202
12543          0.997761
12683          0.359232
12774          0.999558

In [ ]:
errors

,left,right,match,match_confidence,gold
189,COL make VAL PIPER COL model VAL PA31P COL ser...,COL make VAL PA COL model VAL 31T COL series V...,1,0.061561,0
1436,COL make VAL GRUMMAN COL model VAL OV1 COL ser...,COL make VAL OW COL model VAL 5M COL series VA...,0,0.994566,1
2651,COL make VAL SIKORSKY COL model VAL SH3 COL se...,COL make VAL SK COL model VAL 61 COL series VA...,0,0.998856,1
8412,COL make VAL BELL COL model VAL UH1 COL series...,COL make VAL INTHEL COL model VAL UH1B COL ser...,0,0.997717,1
8527,COL make VAL BELLANCA COL model VAL 31 42 COL ...,COL make VAL BL COL model VAL 17 COL series VA...,1,0.057078,0
10284,COL make VAL GULFSTREAM COL model VAL GULFSTRE...,COL make VAL GA COL model VAL 150 COL series V...,0,0.989205,1
10858,COL make VAL AIR TRACTOR COL model VAL AT502 C...,COL make VAL AT COL model VAL 504 COL series V...,1,0.997843,0
10971,COL make VAL PIPER COL model VAL PA28RT COL se...,COL make VAL PA COL model VAL 28 COL series VA...,1,0.995418,0
10991,COL make VAL BELLANCA COL model VAL CH300 COL ...,COL make VAL EAA COL model VAL 90 COL series V...,1,0.194966,0
11323,COL make VAL ENSTROM COL model VAL 480 COL ser...,COL make VAL CAMAIR COL model VAL 480 COL seri...,1,0.880147,0
11519,COL make VAL AEROSPATIALE COL model VAL SA330 ...,COL make VAL SA COL model VAL 316 COL series V...,1,0.069976,0
11546,COL make VAL ARROW COL model VAL SPORT COL ser...,COL make VAL ARACFT COL model VAL SPORT COL se...,0,0.996670,1
11659,COL make VAL LEARJET COL model VAL 60 COL seri...,COL make VAL LR COL model VAL 24 COL series VA...,1,0.986204,0
11707,COL make VAL BELL COL model VAL UH1 COL series...,COL make VAL HAWKIN COL model VAL UH1B COL ser...,0,0.997329,1
11719,COL make VAL VERTOL COL model VAL CH21 COL ser...,COL make VAL SK COL model VAL CH COL series VA...,1,0.172569,0
11787,COL make VAL ROCKWELL COL model VAL 100 COL se...,COL make VAL GA COL model VAL 112 COL series V...,0,0.999861,1
12098,COL make VAL BELL COL model VAL TH1 COL series...,COL make VAL WIA COL model VAL TH COL series V...,1,0.399202,0
12543,COL make VAL DOUGLAS COL model VAL C53 COL ser...,COL make VAL DC COL model VAL 3 COL series VAL...,0,0.997761,1
12683,COL make VAL AERO COMMANDER COL model VAL 690 ...,COL make VAL CE COL model VAL 680 COL series V...,1,0.359232,0
12774,COL make VAL CHAMPION COL model VAL 7GC COL se...,COL make VAL AR COL model VAL 7 COL series VAL...,1,0.999558,0
12981,COL make VAL AERONCA COL model VAL 7EC COL ser...,COL make VAL CHAMP COL model VAL 7 COL series ...,1,0.999785,0
12986,COL make VAL INIZIATIVE COL model VAL SKY ARRO...,COL make VAL III COL model VAL 650 COL series ...,0,0.976705,1
13159,COL make VAL PIAGGIO COL model VAL P166 COL se...,COL make VAL P COL model VAL 166 COL series VA...,0,0.999816,1
13498,COL make VAL PIPER COL model VAL PA15 COL seri...,COL make VAL PA COL model VAL 17 COL series VA...,1,0.991502,0

In [ ]:
errors.to_csv("../aircraft_er_predictions/" + run_name + "_errors_review.csv", index=False)

In [ ]:
def parse_record(record: str):
    """Parse Ditto serialized record into a dict of {field: value}."""
    parts = re.split(r"COL |VAL ", record.strip())
    parts = [p for p in parts if p]  # drop empties
    return {parts[i].strip(): parts[i+1].strip() for i in range(0, len(parts), 2)}

parsed = []

for _, row in errors.iterrows():
    left = parse_record(row["left"])
    right = parse_record(row["right"])
    parsed.append({
        "cictt_make": left.get("make"),
        "make": right.get("make"),
        "cictt_model": left.get("model"),
        "model": right.get("model"),
        "cictt_series": left.get("series"),
        "series": right.get("series"),
        "cictt_cert": left.get("cert"),
        "cert": right.get("cert"),
        "cictt_name": left.get("name"),
        "name": right.get("name"),
        "gold": row["gold"],
        "predicted": row["match"],
        "confidence": row["match_confidence"]
    })

aligned = pd.DataFrame(parsed)

In [ ]:
aligned.to_csv("../aircraft_er_predictions/" + run_name + "_aligned_errors_review.csv", index=False)