In [28]:
import pandas as pd
import json
import re
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [39]:


data_name = "baseline_eval_only_random_sample"



#model_name = "baseline_lh_2"

#model_name = "baseline_lh_3"

model_name = "baseline_lh_0"
model_name = "baseline_lh_b"

model_name = "baseline"

run_name = data_name + "_model_" + model_name



# load JSONL
records = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_all.tsv") as f:
    for line in f:
        records.append(json.loads(line))

In [30]:
import os
os.getcwd()

'\\\\wsl.localhost\\Ubuntu\\home\\kbryan\\ditto_aircraft_er\\aircraft_er_notebooks'

In [38]:
df_all = pd.DataFrame(records)
print("number of rows in ground truth: ", len(df_all))
df_all.head()

number of rows in ground truth:  31220

,left,right,match,match_confidence
0,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999997
1,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999998
2,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999998
3,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999997
4,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999997

In [40]:

gold_all = pd.read_csv("../data/ditto_aircraft/" + data_name + "/all_pairs.txt", sep="\t", header=None, names=["left", "right", "gold"])

gold_all_with_id = pd.read_csv("../data/ditto_aircraft/" + data_name + "/all_pairs_with_id.txt",  header=0)

print("number of rows in ground truth: ", len(gold_all))
print(gold_all.head())

print("number of rows in ground truth with id: ", len(gold_all_with_id))
print(gold_all_with_id.head())

number of rows in ground truth:  31220
                                                left  \
0  COL make VAL BOEING COL model VAL 727 COL seri...
1  COL make VAL BOEING COL model VAL 727 COL seri...
2  COL make VAL BOEING COL model VAL 727 COL seri...
3  COL make VAL BOEING COL model VAL 727 COL seri...
4  COL make VAL BOEING COL model VAL 727 COL seri...

                                               right  gold
0  COL make VAL A COL model VAL 300 COL series VA...     0
1  COL make VAL A COL model VAL 300 COL series VA...     0
2  COL make VAL A COL model VAL 300 COL series VA...     0
3  COL make VAL A COL model VAL 300 COL series VA...     0
4  COL make VAL A COL model VAL 300 COL series VA...     0
number of rows in ground truth with id:  31220
   left_id      right_id                                               left  \
0     1816   A-300-B4203  COL make VAL BOEING COL model VAL 727 COL seri...
1     1816  A-300-B4605R  COL make VAL BOEING COL model VAL 727 COL seri...
2     1816   A-300-B4622  COL make VAL BOEING COL model VAL 727 COL seri...
3     1816  A-300-B4622R  COL make VAL BOEING COL model VAL 727 COL seri...
4     1816  A-300-F4600R  COL make VAL BOEING COL model VAL 727 COL seri...

                                               right  label
0  COL make VAL A COL model VAL 300 COL series VA...      0
1  COL make VAL A COL model VAL 300 COL series VA...      0
2  COL make VAL A COL model VAL 300 COL series VA...      0
3  COL make VAL A COL model VAL 300 COL series VA...      0
4  COL make VAL A COL model VAL 300 COL series VA...      0

In [34]:
df_all["gold"] = gold_all_with_id["label"]
df_all["left_id"]= gold_all_with_id["left_id"]
df_all["right_id"]= gold_all_with_id["right_id"]

In [35]:
df_all.head()

,left,right,match,match_confidence,gold,left_id,right_id
0,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999990,0,1816,A-300-B4203
1,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999990,0,1816,A-300-B4605R
2,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999990,0,1816,A-300-B4622
3,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999990,0,1816,A-300-B4622R
4,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL A COL model VAL 300 COL series VA...,0,0.999989,0,1816,A-300-F4600R

In [20]:
#All Data

y_true = df_all["gold"]
y_pred = df_all["match"]

print("Accuracy:", accuracy_score(y_true, y_pred))
print("\nClassification report:\n", classification_report(y_true, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_true, y_pred))



with open("../aircraft_er_predictions/" + run_name + "_metrics_all.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true, y_pred), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true, y_pred), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true, y_pred), file=f)

Accuracy: 0.996668802049968

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     31210
           1       0.09      1.00      0.16        10

    accuracy                           1.00     31220
   macro avg       0.54      1.00      0.58     31220
weighted avg       1.00      1.00      1.00     31220


Confusion matrix:
 [[31106   104]
 [    0    10]]

In [21]:
errors = df_all[df_all["gold"] != df_all["match"]]
print(errors[["left","right","gold","match","match_confidence", "left_id", "right_id"]].head(20))

                                                   left  \
340   COL make VAL BOEING COL model VAL 727 COL seri...
343   COL make VAL BOEING COL model VAL 727 COL seri...
3759  COL make VAL BOEING COL model VAL 747 COL seri...
3760  COL make VAL BOEING COL model VAL 747 COL seri...
3761  COL make VAL BOEING COL model VAL 747 COL seri...
3762  COL make VAL BOEING COL model VAL 747 COL seri...
3763  COL make VAL BOEING COL model VAL 747 COL seri...
3764  COL make VAL BOEING COL model VAL 747 COL seri...
3765  COL make VAL BOEING COL model VAL 747 COL seri...
3766  COL make VAL BOEING COL model VAL 747 COL seri...
3770  COL make VAL BOEING COL model VAL 747 COL seri...
3771  COL make VAL BOEING COL model VAL 747 COL seri...
3773  COL make VAL BOEING COL model VAL 747 COL seri...
3776  COL make VAL BOEING COL model VAL 747 COL seri...
3779  COL make VAL BOEING COL model VAL 747 COL seri...
3780  COL make VAL BOEING COL model VAL 747 COL seri...
3783  COL make VAL BOEING COL model VAL 747 COL seri...
3785  COL make VAL BOEING COL model VAL 747 COL seri...
3786  COL make VAL BOEING COL model VAL 747 COL seri...
3796  COL make VAL BOEING COL model VAL 747 COL seri...

                                                  right  gold  match  \
340   COL make VAL B COL model VAL 727 COL series VA...     0      1
343   COL make VAL B COL model VAL 727 COL series VA...     0      1
3759  COL make VAL B COL model VAL 747 COL series VA...     0      1
3760  COL make VAL B COL model VAL 747 COL series VA...     0      1
3761  COL make VAL B COL model VAL 747 COL series VA...     0      1
3762  COL make VAL B COL model VAL 747 COL series VA...     0      1
3763  COL make VAL B COL model VAL 747 COL series VA...     0      1
3764  COL make VAL B COL model VAL 747 COL series VA...     0      1
3765  COL make VAL B COL model VAL 747 COL series VA...     0      1
3766  COL make VAL B COL model VAL 747 COL series VA...     0      1
3770  COL make VAL B COL model VAL 747 COL series VA...     0      1
3771  COL make VAL B COL model VAL 747 COL series VA...     0      1
3773  COL make VAL B COL model VAL 747 COL series VA...     0      1
3776  COL make VAL B COL model VAL 747 COL series VA...     0      1
3779  COL make VAL B COL model VAL 747 COL series VA...     0      1
3780  COL make VAL B COL model VAL 747 COL series VA...     0      1
3783  COL make VAL B COL model VAL 747 COL series VA...     0      1
3785  COL make VAL B COL model VAL 747 COL series VA...     0      1
3786  COL make VAL B COL model VAL 747 COL series VA...     0      1
3796  COL make VAL B COL model VAL 747 COL series VA...     0      1

      match_confidence  left_id    right_id
340           0.274814     1816   B-727-290
343           0.594253     1816   B-727-295
3759          0.885383     2546   B-747-124
3760          0.872041     2546   B-747-127
3761          0.925247     2546   B-747-128
3762          0.951079     2546   B-747-129
3763          0.970580     2546   B-747-130
3764          0.626289     2546   B-747-135
3765          0.586395     2546   B-747-136
3766          0.568113     2546   B-747-143
3770          0.670593     2546   B-747-156
3771          0.814952     2546  B-747-206B
3773          0.300716     2546  B-747-211B
3776          0.985743     2546  B-747-21AC
3779          0.486631     2546  B-747-228F
3780          0.755617     2546  B-747-230F
3783          0.394958     2546  B-747-245F
3785          0.222559     2546  B-747-246F
3786          0.570207     2546  B-747-249F
3796          0.966784     2546  B-747-2B4B

In [22]:
errors

,left,right,match,match_confidence,gold,left_id,right_id
340,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL B COL model VAL 727 COL series VA...,1,0.274814,0,1816,B-727-290
343,COL make VAL BOEING COL model VAL 727 COL seri...,COL make VAL B COL model VAL 727 COL series VA...,1,0.594253,0,1816,B-727-295
3759,COL make VAL BOEING COL model VAL 747 COL seri...,COL make VAL B COL model VAL 747 COL series VA...,1,0.885383,0,2546,B-747-124
3760,COL make VAL BOEING COL model VAL 747 COL seri...,COL make VAL B COL model VAL 747 COL series VA...,1,0.872041,0,2546,B-747-127
3761,COL make VAL BOEING COL model VAL 747 COL seri...,COL make VAL B COL model VAL 747 COL series VA...,1,0.925247,0,2546,B-747-128
...,...,...,...,...,...,...,...
30806,COL make VAL CESSNA COL model VAL F172 COL ser...,COL make VAL REIMS COL model VAL F172 COL seri...,1,0.999679,0,3894,REIMS-F172-H
30807,COL make VAL CESSNA COL model VAL F172 COL ser...,COL make VAL REIMS COL model VAL F172 COL seri...,1,0.999313,0,3894,REIMS-F172-K
30808,COL make VAL CESSNA COL model VAL F172 COL ser...,COL make VAL REIMS COL model VAL F172 COL seri...,1,0.999637,0,3894,REIMS-F172-M
30809,COL make VAL CESSNA COL model VAL F172 COL ser...,COL make VAL REIMS COL model VAL F172 COL seri...,1,0.999683,0,3894,REIMS-F172-N
30810,COL make VAL CESSNA COL model VAL F172 COL ser...,COL make VAL REIMS COL model VAL F177 COL seri...,1,0.994216,0,3894,REIMS-F177-RG

In [23]:
errors.to_csv("../aircraft_er_predictions/" + run_name + "_errors_review.csv", index=False)

In [24]:
def parse_record(record: str):
    """Parse Ditto serialized record into a dict of {field: value}."""
    parts = re.split(r"COL |VAL ", record.strip())
    parts = [p for p in parts if p]  # drop empties
    return {parts[i].strip(): parts[i+1].strip() for i in range(0, len(parts), 2)}

parsed = []

for _, row in errors.iterrows():
    left = parse_record(row["left"])
    right = parse_record(row["right"])
    parsed.append({
        "left_id": row["left_id"],
        "right_id": row["right_id"],
        "cictt_make": left.get("make"),
        "make": right.get("make"),
        "cictt_model": left.get("model"),
        "model": right.get("model"),
        "cictt_series": left.get("series"),
        "series": right.get("series"),
        "cictt_cert": left.get("cert"),
        "cert": right.get("cert"),
        "cictt_name": left.get("name"),
        "name": right.get("name"),
        "predicted": row["match"],
        "confidence": row["match_confidence"],
        "gold": row["gold"]
    })

aligned = pd.DataFrame(parsed)

In [25]:
aligned.to_csv("../aircraft_er_predictions/" + run_name + "_aligned_errors_review.csv", index=False)

In [26]:
tmp = gold_all_with_id[gold_all_with_id["left_id"]==3571]

In [27]:
tmp["left"][100]

KeyError: 100