In [64]:
import pandas as pd
import json
import re
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
#run_name = "baseline"
#run_name = "baseline_1"
run_name = "baseline_2"


# load JSONL
records = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_all.tsv") as f:
    for line in f:
        records.append(json.loads(line))


        # load JSONL
records_test = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_test.tsv") as f:
    for line in f:
        records_test.append(json.loads(line))

In [66]:
df_all = pd.DataFrame(records)
df_test = pd.DataFrame(records_test)
df_test.head()

,left,right,match,match_confidence
0,COL cictt_make VAL HUGHES COL cictt_model VAL ...,COL make VAL B COL model VAL 29 COL series VAL...,0,0.999971
1,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 737 COL series VA...,0,0.694979
2,COL cictt_make VAL STINSON COL cictt_model VAL...,COL make VAL STNSON COL model VAL L5 COL serie...,1,0.999927
3,COL cictt_make VAL AEROSPATIALE COL cictt_mode...,COL make VAL AS COL model VAL 350D COL series ...,0,0.307922
4,COL cictt_make VAL CESSNA COL cictt_model VAL ...,COL make VAL CE COL model VAL 182 COL series V...,0,0.999920

In [67]:
gold_test = pd.read_csv("../data/aircraft_er/" + run_name + "/test.txt", sep="\t", header=None, names=["left", "right", "gold"])

gold_all = pd.read_csv("../data/aircraft_er/" + run_name + "/all_pairs.txt", sep="\t", header=None, names=["left", "right", "gold"])
print(gold_all.head())

                                                left  \
0  COL cictt_make VAL BOEING COL cictt_model VAL ...
1  COL cictt_make VAL NAVION COL cictt_model VAL ...
2  COL cictt_make VAL BEECH COL cictt_model VAL 6...
3  COL cictt_make VAL STINSON COL cictt_model VAL...
4  COL cictt_make VAL BOEING COL cictt_model VAL ...

                                               right  gold
0  COL make VAL B COL model VAL 767 COL series VA...     0
1  COL make VAL LKHEED COL model VAL 10 COL serie...     0
2  COL make VAL B COL model VAL 707 COL series VA...     0
3  COL make VAL CE COL model VAL 206 COL series V...     0
4  COL make VAL B COL model VAL 767 COL series VA...     1

In [68]:
df_all["gold"] = gold_all["gold"]
df_test["gold"] = gold_test["gold"]

In [69]:
#Test Data

y_true_test = df_test["gold"]
y_pred_test = df_test["match"]

print("Accuracy:", accuracy_score(y_true_test, y_pred_test))
print("\nClassification report:\n", classification_report(y_true_test, y_pred_test))
print("\nConfusion matrix:\n", confusion_matrix(y_true_test, y_pred_test))



with open("../aircraft_er_predictions/" + run_name + "_metrics_test.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true_test, y_pred_test), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true_test, y_pred_test), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true_test, y_pred_test), file=f)

Accuracy: 0.9736070381231672

Classification report:
               precision    recall  f1-score   support

           0       0.97      0.99      0.98       711
           1       0.99      0.93      0.96       312

    accuracy                           0.97      1023
   macro avg       0.98      0.96      0.97      1023
weighted avg       0.97      0.97      0.97      1023


Confusion matrix:
 [[707   4]
 [ 23 289]]

In [70]:
#All Data

y_true = df_all["gold"]
y_pred = df_all["match"]

print("Accuracy:", accuracy_score(y_true, y_pred))
print("\nClassification report:\n", classification_report(y_true, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_true, y_pred))



with open("../aircraft_er_predictions/" + run_name + "_metrics_all.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true, y_pred), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true, y_pred), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true, y_pred), file=f)

Accuracy: 0.9745958429561201

Classification report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98      5105
           1       1.00      0.94      0.97      3122

    accuracy                           0.97      8227
   macro avg       0.98      0.97      0.97      8227
weighted avg       0.98      0.97      0.97      8227


Confusion matrix:
 [[5096    9]
 [ 200 2922]]

In [71]:
errors = df_test[df_test["gold"] != df_test["match"]]
print(errors[["left","right","gold","match","match_confidence"]].head(20))

                                                  left  \
3    COL cictt_make VAL AEROSPATIALE COL cictt_mode...
84   COL cictt_make VAL BOMBARDIER COL cictt_model ...
96   COL cictt_make VAL DOUGLAS COL cictt_model VAL...
111  COL cictt_make VAL DASSAULT COL cictt_model VA...
145  COL cictt_make VAL LOCKHEED COL cictt_model VA...
218  COL cictt_make VAL CONSOLIDATED VULTEE COL cic...
228  COL cictt_make VAL AEROSPATIALE COL cictt_mode...
243  COL cictt_make VAL AYRES COL cictt_model VAL S...
288  COL cictt_make VAL DOUGLAS COL cictt_model VAL...
416  COL cictt_make VAL BOEING COL cictt_model VAL ...
425  COL cictt_make VAL AIRBUS HELICOPTERS COL cict...
493  COL cictt_make VAL CESSNA COL cictt_model VAL ...
499  COL cictt_make VAL TAYLORCRAFT COL cictt_model...
545  COL cictt_make VAL BOEING COL cictt_model VAL ...
559  COL cictt_make VAL MCDONNELL DOUGLAS COL cictt...
566  COL cictt_make VAL AEROSPATIALE COL cictt_mode...
596  COL cictt_make VAL HUGHES COL cictt_model VAL ...
607  COL cictt_make VAL BOEING COL cictt_model VAL ...
609  COL cictt_make VAL PIPER COL cictt_model VAL P...
639  COL cictt_make VAL TAYLORCRAFT COL cictt_model...

                                                 right  gold  match  \
3    COL make VAL AS COL model VAL 350D COL series ...     1      0
84   COL make VAL BD COL model VAL 500 COL series V...     0      1
96   COL make VAL DC COL model VAL 3 COL series VAL...     1      0
111  COL make VAL DASALT COL model VAL MYSTFA COL s...     0      1
145  COL make VAL P COL model VAL 2V COL series VAL...     1      0
218  COL make VAL PB COL model VAL Y5 COL series VA...     1      0
228  COL make VAL AS COL model VAL 350 COL series V...     1      0
243  COL make VAL AYRES COL model VAL S2 COL series...     1      0
288  COL make VAL DC COL model VAL 3 COL series VAL...     1      0
416  COL make VAL B COL model VAL 737 COL series VA...     1      0
425  COL make VAL EC COL model VAL 130B4 COL series...     1      0
493  COL make VAL CE COL model VAL 560 COL series V...     1      0
499  COL make VAL TCRAFT COL model VAL D COL series...     1      0
545  COL make VAL B COL model VAL 727 COL series VA...     0      1
559  COL make VAL MD COL model VAL 10 COL series VA...     1      0
566  COL make VAL AS COL model VAL 350 COL series V...     1      0
596  COL make VAL HU COL model VAL 369 COL series V...     1      0
607  COL make VAL B COL model VAL 737 COL series VA...     1      0
609  COL make VAL PA COL model VAL 18 COL series VA...     1      0
639  COL make VAL TCRAFT COL model VAL D COL series...     1      0

     match_confidence
3            0.307922
84           0.930477
96           0.999966
111          0.747252
145          0.651215
218          0.999941
228          0.458777
243          0.584958
288          0.753954
416          0.461708
425          0.999557
493          0.657346
499          0.999803
545          0.999341
559          0.644088
566          0.448431
596          0.506748
607          0.694979
609          0.799570
639          0.989266

In [72]:
errors

,left,right,match,match_confidence,gold
3,COL cictt_make VAL AEROSPATIALE COL cictt_mode...,COL make VAL AS COL model VAL 350D COL series ...,0,0.307922,1
84,COL cictt_make VAL BOMBARDIER COL cictt_model ...,COL make VAL BD COL model VAL 500 COL series V...,1,0.930477,0
96,COL cictt_make VAL DOUGLAS COL cictt_model VAL...,COL make VAL DC COL model VAL 3 COL series VAL...,0,0.999966,1
111,COL cictt_make VAL DASSAULT COL cictt_model VA...,COL make VAL DASALT COL model VAL MYSTFA COL s...,1,0.747252,0
145,COL cictt_make VAL LOCKHEED COL cictt_model VA...,COL make VAL P COL model VAL 2V COL series VAL...,0,0.651215,1
218,COL cictt_make VAL CONSOLIDATED VULTEE COL cic...,COL make VAL PB COL model VAL Y5 COL series VA...,0,0.999941,1
228,COL cictt_make VAL AEROSPATIALE COL cictt_mode...,COL make VAL AS COL model VAL 350 COL series V...,0,0.458777,1
243,COL cictt_make VAL AYRES COL cictt_model VAL S...,COL make VAL AYRES COL model VAL S2 COL series...,0,0.584958,1
288,COL cictt_make VAL DOUGLAS COL cictt_model VAL...,COL make VAL DC COL model VAL 3 COL series VAL...,0,0.753954,1
416,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 737 COL series VA...,0,0.461708,1
425,COL cictt_make VAL AIRBUS HELICOPTERS COL cict...,COL make VAL EC COL model VAL 130B4 COL series...,0,0.999557,1
493,COL cictt_make VAL CESSNA COL cictt_model VAL ...,COL make VAL CE COL model VAL 560 COL series V...,0,0.657346,1
499,COL cictt_make VAL TAYLORCRAFT COL cictt_model...,COL make VAL TCRAFT COL model VAL D COL series...,0,0.999803,1
545,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 727 COL series VA...,1,0.999341,0
559,COL cictt_make VAL MCDONNELL DOUGLAS COL cictt...,COL make VAL MD COL model VAL 10 COL series VA...,0,0.644088,1
566,COL cictt_make VAL AEROSPATIALE COL cictt_mode...,COL make VAL AS COL model VAL 350 COL series V...,0,0.448431,1
596,COL cictt_make VAL HUGHES COL cictt_model VAL ...,COL make VAL HU COL model VAL 369 COL series V...,0,0.506748,1
607,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 737 COL series VA...,0,0.694979,1
609,COL cictt_make VAL PIPER COL cictt_model VAL P...,COL make VAL PA COL model VAL 18 COL series VA...,0,0.799570,1
639,COL cictt_make VAL TAYLORCRAFT COL cictt_model...,COL make VAL TCRAFT COL model VAL D COL series...,0,0.989266,1
687,COL cictt_make VAL BRITTEN NORMAN COL cictt_mo...,COL make VAL BN COL model VAL 2 COL series VAL...,0,0.488071,1
722,COL cictt_make VAL EUROCOPTER COL cictt_model ...,COL make VAL EC COL model VAL 225 COL series V...,0,0.998140,1
748,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 707 COL series VA...,0,0.911307,1
887,COL cictt_make VAL ALPHA COL cictt_model VAL R...,COL make VAL R COL model VAL 2160 COL series V...,0,0.609063,1
903,COL cictt_make VAL HUGHES COL cictt_model VAL ...,COL make VAL HU COL model VAL 369 COL series V...,0,0.507714,1
930,COL cictt_make VAL MCDONNELL DOUGLAS COL cictt...,COL make VAL MD COL model VAL 10 COL series VA...,0,0.741688,1
987,COL cictt_make VAL BOEING COL cictt_model VAL ...,COL make VAL B COL model VAL 747 COL series VA...,1,0.999794,0

In [73]:
errors.to_csv("../aircraft_er_predictions/" + run_name + "_errors_review.csv", index=False)

In [74]:
def parse_record(record: str):
    """Parse Ditto serialized record into a dict of {field: value}."""
    parts = re.split(r"COL |VAL ", record.strip())
    parts = [p for p in parts if p]  # drop empties
    return {parts[i].strip(): parts[i+1].strip() for i in range(0, len(parts), 2)}

parsed = []

for _, row in errors.iterrows():
    left = parse_record(row["left"])
    right = parse_record(row["right"])
    parsed.append({
        "cictt_make": left.get("cictt_make"),
        "make": right.get("make"),
        "cictt_model": left.get("cictt_model"),
        "model": right.get("model"),
        "cictt_series": left.get("cictt_series"),
        "series": right.get("series"),
        "cictt_cert": left.get("cictt_cert"),
        "cert": right.get("cert"),
        "cictt_name": left.get("cictt_name"),
        "name": right.get("name"),
        "predicted": row["match"],
        "confidence": row["match_confidence"],
        "gold": row["gold"]
    })

aligned = pd.DataFrame(parsed)

In [75]:
aligned.to_csv("../aircraft_er_predictions/" + run_name + "_aligned_errors_review.csv", index=False)