In [50]:
import pandas as pd
import json
import re
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [51]:
#run_name = "baseline"
#run_name = "baseline_1"
#run_name = "baseline_2"
run_name = "baseline_lh_2"
#run_name = "baseline_lh_3"

# load JSONL
records = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_all.tsv") as f:
    for line in f:
        records.append(json.loads(line))


        # load JSONL
records_test = []
with open("../aircraft_er_predictions/" + run_name + "_predictions_test.tsv") as f:
    for line in f:
        records_test.append(json.loads(line))

In [52]:
df_all = pd.DataFrame(records)
df_test = pd.DataFrame(records_test)
df_test.head()

,left,right,match,match_confidence
0,COL make VAL BOEING COL model VAL 767 COL seri...,COL make VAL HU COL model VAL 369 COL series V...,0,0.999997
1,COL make VAL VERTOL COL model VAL 107 COL seri...,COL make VAL MOONEY COL model VAL 20 COL serie...,0,0.999997
2,COL make VAL CULVER COL model VAL LAR COL seri...,COL make VAL BE COL model VAL 95 COL series VA...,0,0.999997
3,COL make VAL AEROSPATIALE COL model VAL AS350 ...,COL make VAL WACO COL model VAL UKC COL series...,0,0.999997
4,COL make VAL TAYLORCRAFT COL model VAL F21 COL...,COL make VAL SK COL model VAL 58 COL series VA...,0,0.999993

In [53]:
gold_test = pd.read_csv("../data/aircraft_er/" + run_name + "/test.txt", sep="\t", header=None, names=["left", "right", "gold"])

gold_all = pd.read_csv("../data/aircraft_er/" + run_name + "/all_pairs.txt", sep="\t", header=None, names=["left", "right", "gold"])
print(gold_all.head())

                                                left  \
0  COL make VAL BOEING COL model VAL 767 COL seri...
1  COL make VAL WACO COL model VAL AGC COL series...
2  COL make VAL MCDONNELL DOUGLAS COL model VAL D...
3  COL make VAL BOEING COL model VAL 737 COL seri...
4  COL make VAL CESSNA COL model VAL 337 COL seri...

                                               right  gold
0  COL make VAL B COL model VAL 75 COL series VAL...     0
1  COL make VAL WACO COL model VAL EGC COL series...     0
2  COL make VAL DC COL model VAL 9 COL series VAL...     0
3  COL make VAL B COL model VAL 767 COL series VA...     0
4  COL make VAL CE COL model VAL 182 COL series V...     0

In [54]:
df_all["gold"] = gold_all["gold"]
df_test["gold"] = gold_test["gold"]

In [55]:
#Test Data

y_true_test = df_test["gold"]
y_pred_test = df_test["match"]

print("Accuracy:", accuracy_score(y_true_test, y_pred_test))
print("\nClassification report:\n", classification_report(y_true_test, y_pred_test))
print("\nConfusion matrix:\n", confusion_matrix(y_true_test, y_pred_test))



with open("../aircraft_er_predictions/" + run_name + "_metrics_test.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true_test, y_pred_test), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true_test, y_pred_test), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true_test, y_pred_test), file=f)

Accuracy: 0.997823492241803

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     13952
           1       0.96      0.93      0.95       291

    accuracy                           1.00     14243
   macro avg       0.98      0.97      0.97     14243
weighted avg       1.00      1.00      1.00     14243


Confusion matrix:
 [[13941    11]
 [   20   271]]

In [56]:
#All Data

y_true = df_all["gold"]
y_pred = df_all["match"]

print("Accuracy:", accuracy_score(y_true, y_pred))
print("\nClassification report:\n", classification_report(y_true, y_pred))
print("\nConfusion matrix:\n", confusion_matrix(y_true, y_pred))



with open("../aircraft_er_predictions/" + run_name + "_metrics_all.txt", "w") as f:
    print("Accuracy:", accuracy_score(y_true, y_pred), file=f)
    print("\nClassification report:\n", file=f)
    print(classification_report(y_true, y_pred), file=f)
    print("\nConfusion matrix:\n", file=f)
    print(confusion_matrix(y_true, y_pred), file=f)

Accuracy: 0.9989580501947993

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     85387
           1       0.99      0.98      0.98      2909

    accuracy                           1.00     88296
   macro avg       0.99      0.99      0.99     88296
weighted avg       1.00      1.00      1.00     88296


Confusion matrix:
 [[85351    36]
 [   56  2853]]

In [57]:
errors = df_test[df_test["gold"] != df_test["match"]]
print(errors[["left","right","gold","match","match_confidence"]].head(20))

                                                   left  \
23    COL make VAL AIRBUS COL model VAL A318 COL ser...
61    COL make VAL DE HAVILLAND COL model VAL DHC8 C...
666   COL make VAL PIPER COL model VAL PA42 COL seri...
1278  COL make VAL CESSNA COL model VAL C145 COL ser...
1576  COL make VAL BELL COL model VAL UH1 COL series...
2587  COL make VAL GULFSTREAM COL model VAL GULFSTRE...
2866  COL make VAL BOMBARDIER COL model VAL BD700 CO...
3417  COL make VAL BRITTEN NORMAN COL model VAL BN2B...
3463  COL make VAL AEROSPATIALE COL model VAL SA316 ...
3527  COL make VAL VERTOL COL model VAL H21 COL seri...
4098  COL make VAL CHAMPION COL model VAL 7GCAA COL ...
4143  COL make VAL GULFSTREAM COL model VAL GULFSTRE...
5539  COL make VAL SIKORSKY COL model VAL UH34 COL s...
5571  COL make VAL FAIRCHILD COL model VAL 24 COL se...
5783  COL make VAL AERONCA COL model VAL KS COL seri...
6423  COL make VAL WACO COL model VAL UKC COL series...
6925  COL make VAL STEARMAN COL model VAL A75 COL se...
7832  COL make VAL PILATUS COL model VAL PC7 COL ser...
8085  COL make VAL EUROCOPTER COL model VAL AS350 CO...
8645  COL make VAL HELIO COL model VAL HT295 COL ser...

                                                  right  gold  match  \
23    COL make VAL A COL model VAL 318 COL series VA...     1      0
61    COL make VAL DHC COL model VAL 8 COL series VA...     0      1
666   COL make VAL PA COL model VAL 42 COL series VA...     1      0
1278  COL make VAL CE COL model VAL 145 COL series V...     1      0
1576  COL make VAL BHT COL model VAL UH1E COL series...     0      1
2587  COL make VAL GA COL model VAL 200 COL series V...     1      0
2866  COL make VAL CL COL model VAL 700 COL series V...     1      0
3417  COL make VAL BN COL model VAL 2 COL series VAL...     0      1
3463  COL make VAL SA COL model VAL 315 COL series V...     0      1
3527  COL make VAL RISLEY COL model VAL H21 COL seri...     1      0
4098  COL make VAL CHAMP COL model VAL 7 COL series ...     1      0
4143  COL make VAL GA COL model VAL 100 COL series V...     1      0
5539  COL make VAL CONAIR COL model VAL UH34 COL ser...     1      0
5571  COL make VAL FRCHLD COL model VAL 24 COL serie...     0      1
5783  COL make VAL AR COL model VAL K COL series VAL...     1      0
6423  COL make VAL WACO COL model VAL JC COL series ...     0      1
6925  COL make VAL B COL model VAL 75 COL series VAL...     1      0
7832  COL make VAL PC COL model VAL 12 COL series VA...     0      1
8085  COL make VAL AS COL model VAL 350D COL series ...     1      0
8645  COL make VAL HELIO COL model VAL 295 COL serie...     1      0

      match_confidence
23            0.999087
61            0.989569
666           0.762282
1278          0.940923
1576          0.721810
2587          0.893215
2866          0.999994
3417          0.783638
3463          0.999889
3527          0.999701
4098          0.959085
4143          0.999994
5539          0.998261
5571          0.912818
5783          0.999992
6423          0.951607
6925          0.995237
7832          0.996520
8085          0.972826
8645          0.985207

In [58]:
errors

,left,right,match,match_confidence,gold
23,COL make VAL AIRBUS COL model VAL A318 COL ser...,COL make VAL A COL model VAL 318 COL series VA...,0,0.999087,1
61,COL make VAL DE HAVILLAND COL model VAL DHC8 C...,COL make VAL DHC COL model VAL 8 COL series VA...,1,0.989569,0
666,COL make VAL PIPER COL model VAL PA42 COL seri...,COL make VAL PA COL model VAL 42 COL series VA...,0,0.762282,1
1278,COL make VAL CESSNA COL model VAL C145 COL ser...,COL make VAL CE COL model VAL 145 COL series V...,0,0.940923,1
1576,COL make VAL BELL COL model VAL UH1 COL series...,COL make VAL BHT COL model VAL UH1E COL series...,1,0.721810,0
2587,COL make VAL GULFSTREAM COL model VAL GULFSTRE...,COL make VAL GA COL model VAL 200 COL series V...,0,0.893215,1
2866,COL make VAL BOMBARDIER COL model VAL BD700 CO...,COL make VAL CL COL model VAL 700 COL series V...,0,0.999994,1
3417,COL make VAL BRITTEN NORMAN COL model VAL BN2B...,COL make VAL BN COL model VAL 2 COL series VAL...,1,0.783638,0
3463,COL make VAL AEROSPATIALE COL model VAL SA316 ...,COL make VAL SA COL model VAL 315 COL series V...,1,0.999889,0
3527,COL make VAL VERTOL COL model VAL H21 COL seri...,COL make VAL RISLEY COL model VAL H21 COL seri...,0,0.999701,1
4098,COL make VAL CHAMPION COL model VAL 7GCAA COL ...,COL make VAL CHAMP COL model VAL 7 COL series ...,0,0.959085,1
4143,COL make VAL GULFSTREAM COL model VAL GULFSTRE...,COL make VAL GA COL model VAL 100 COL series V...,0,0.999994,1
5539,COL make VAL SIKORSKY COL model VAL UH34 COL s...,COL make VAL CONAIR COL model VAL UH34 COL ser...,0,0.998261,1
5571,COL make VAL FAIRCHILD COL model VAL 24 COL se...,COL make VAL FRCHLD COL model VAL 24 COL serie...,1,0.912818,0
5783,COL make VAL AERONCA COL model VAL KS COL seri...,COL make VAL AR COL model VAL K COL series VAL...,0,0.999992,1
6423,COL make VAL WACO COL model VAL UKC COL series...,COL make VAL WACO COL model VAL JC COL series ...,1,0.951607,0
6925,COL make VAL STEARMAN COL model VAL A75 COL se...,COL make VAL B COL model VAL 75 COL series VAL...,0,0.995237,1
7832,COL make VAL PILATUS COL model VAL PC7 COL ser...,COL make VAL PC COL model VAL 12 COL series VA...,1,0.996520,0
8085,COL make VAL EUROCOPTER COL model VAL AS350 CO...,COL make VAL AS COL model VAL 350D COL series ...,0,0.972826,1
8645,COL make VAL HELIO COL model VAL HT295 COL ser...,COL make VAL HELIO COL model VAL 295 COL serie...,0,0.985207,1
9023,COL make VAL AIRBUS COL model VAL A318 COL ser...,COL make VAL A COL model VAL 318 COL series VA...,0,0.999631,1
9107,COL make VAL DOUGLAS COL model VAL DC6 COL ser...,COL make VAL DC COL model VAL 3 COL series VAL...,1,0.985412,0
9190,COL make VAL BELL COL model VAL UH1 COL series...,COL make VAL HRCULS COL model VAL UH1 COL seri...,0,0.797907,1
9711,COL make VAL CONVAIR COL model VAL C131 COL se...,COL make VAL CV COL model VAL 640 COL series V...,0,0.999995,1
9887,COL make VAL GULFSTREAM COL model VAL GULFSTRE...,COL make VAL GA COL model VAL 150 COL series V...,0,0.999994,1
10949,COL make VAL SIKORSKY COL model VAL S61 COL se...,COL make VAL SK COL model VAL 64 COL series VA...,1,0.999916,0
10972,COL make VAL AERO DIFUSION COL model VAL D1190...,COL make VAL D COL model VAL 1190 COL series V...,0,0.999800,1
11344,COL make VAL AIRBUS COL model VAL A320 COL ser...,COL make VAL A COL model VAL 320 COL series VA...,0,0.999911,1
12458,COL make VAL STINSON COL model VAL SR8 COL ser...,COL make VAL SR COL model VAL 9 COL series VAL...,1,0.999909,0
12994,COL make VAL FAIRCHILD COL model VAL C123 COL ...,COL make VAL BLUMEN COL model VAL C123 COL ser...,1,0.954477,0
13591,COL make VAL AIRBUS COL model VAL A320 COL ser...,COL make VAL A COL model VAL 320 COL series VA...,0,0.895039,1

In [59]:
errors.to_csv("../aircraft_er_predictions/" + run_name + "_errors_review.csv", index=False)

In [60]:
def parse_record(record: str):
    """Parse Ditto serialized record into a dict of {field: value}."""
    parts = re.split(r"COL |VAL ", record.strip())
    parts = [p for p in parts if p]  # drop empties
    return {parts[i].strip(): parts[i+1].strip() for i in range(0, len(parts), 2)}

parsed = []

for _, row in errors.iterrows():
    left = parse_record(row["left"])
    right = parse_record(row["right"])
    parsed.append({
        "cictt_make": left.get("make"),
        "make": right.get("make"),
        "cictt_model": left.get("model"),
        "model": right.get("model"),
        "cictt_series": left.get("series"),
        "series": right.get("series"),
        "cictt_cert": left.get("cert"),
        "cert": right.get("cert"),
        "cictt_name": left.get("name"),
        "name": right.get("name"),
        "predicted": row["match"],
        "confidence": row["match_confidence"],
        "gold": row["gold"]
    })

aligned = pd.DataFrame(parsed)

In [61]:
aligned.to_csv("../aircraft_er_predictions/" + run_name + "_aligned_errors_review.csv", index=False)